* {
  margin: 0;
  padding: 0;
}

#content {
  width: 100vw;
  height: 80vh;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#homePara {
  font-size: 24px;
}
#homeImage {
  width: 20rem;
  height: 20rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5vh;
}
