* {
  margin: 0;
  padding: 0;
}

#content {
  width: 100vw;
  height: 80vh;
  border: 1px solid black;
}

header {
  width: 100vw;
  height: 15vh;
  border: 1px solid black;
}

main {
  width: 50vw;
  height: 80vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  border: 1px solid black;
}
